body {
	background-color: #202020;
}

p, button {
	font-family: "Consolas", monospace, sans-serif;
	font-weight: bold;
	font-size: 1em;
	color: #FFFFFF;
}

button {
	font-size: 0.82em;
	background-color: #2D2D2D;
	border-color: #353535;
	border-radius: 0.4em;
	border-style: solid;
	min-width: 5em;
	width: fit-content;
	height: 2em;
	padding-left: 0.8em;
	padding-right: 0.8em;
	transition: all 0.1s;
}

button:hover {
	background-color: #323232;
}

button:active {
	color: #CECECE;
	background-color: #272727;
	border-color: #303030;
}

#webcam {
	margin-top: 1em;
}
